*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    background-color: #F2CF8D;
    font-family: 'Roboto', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #F2B705;
    padding: 4em 3em;
    margin: 0 auto;
    max-width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo-container {
    color: white;
    box-shadow: 0 5px 10px #6B6C6C6B;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    position: relative;
}

.op-photo {
    max-width: 100%;
}

.op-name {
    position: absolute;
    bottom: 0;

    font-size: 2.8em;
    font-family: 'Playfair Display', serif;
    text-shadow: #1B3540 2px 0px 10px;
}

.about-me {
    background-color: #F2CF8D;
    box-shadow: 5px 5px 10px #6B6C6C6B;
    padding: 1rem 1.3rem;

    font-size: 1.3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

.icons {
    align-self: flex-end;
}

main {
    background-color: #F2CF8D;
    max-width: 80%;
    margin: 0 auto;
    padding: 2em 1.5em;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.project {
    box-shadow: 5px 5px 10px #6B6C6C6B;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
}

.project-screenshot {
    max-width: 100%;
}

.project-info {
    padding: 1.3em;
}

.project-name {
    display: flex;
    justify-content: space-between;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.link-icon {
    max-width: 1.6rem;
}

footer {
    background-color: #F2B705;
    max-width: 80%;
    margin: 0 auto;
    padding: 2em 1.5em;

    display: flex;
    justify-content: space-between;
}

.contact-info {
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info h1 {
    margin-bottom: 0;
}

.contact-email, .contact-number {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.icon-phone, .icon-email {
    max-width: 2rem;
}

.contact-links {
    display: flex;
    gap: 1rem;
}

.op-photo-footer {
    max-width: 100%;
}

@media (max-width: 1473px) {
 .op-name {
    font-size: 2.3em;
 }
 .contact-info {
    font-size: 1.3rem;
 }
}

@media (max-width: 1330px) {
    header {
        display: block;
    }
    .photo-container {
        margin-right: 1.5em;
        width: 35%;
        float: left;
    }
    .about-me {
        display: block;
        padding-top: 3rem;
        padding-bottom: 4rem;
        margin-top: 7rem;
        margin-left: 2rem;
    }
    .op-name {
        top: .3em;
        right: -7em;
        font-size: 3em;
    }
    .icons {
        float: right;
    }
}

@media (max-width: 1070px) {
    .photo-container {
        margin-right: 1.5em;
        width: 40%;
    }
    .about-me {
        padding-top: 1rem;
    }
    .contact-info h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    
}

@media (max-width: 900px) {
    header, main, footer {
        max-width: 90%;
    }
}

@media (max-width: 780px) {
    header, main, footer {
        max-width: 100%;
    }
    .contact-info {
        font-size: 1.1rem;
     }
}

@media(max-width: 665px) {
    header {
        /* display: block; */
        display: flex;
        flex-direction: column;
        padding: 4em 0;
    }
    .photo-container {
        margin: 0 3rem;
        width: 85%;
        float: none;

        position: static;
    }
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 2rem 4rem;
        margin: 4rem auto;
        width: 100%;
    }
    .op-name {
        position: static;
        font-size: 4rem;
        margin-top: -11rem;
        margin-left: 1rem;
    }
    .icons {
        float: right;
    }
}

@media (max-width: 580px) {
    footer {
        flex-direction: column;
        gap: 4rem;
    }
    .contact-info {
        gap: 1.3rem;
        font-size: 1.5rem;
    }

    .contact-info h1 {
        align-self: center;
    }

    .op-photo-footer {
        width: 100%;
    }

}

@media (max-width: 460px) {
    header {
        padding-top: 0;
    }
    .photo-container {
        width: 100%;
    }

    footer {
      padding: 0;  
    }

    .contact-info {
        padding: 2em 1.5em;
    }

    .footer-photo {
        width: 100%;
    }
    .op-photo-footer {
        vertical-align: middle;
    }

}

@media (max-width: 420px) {
    main {
        padding: 2em 0;
    }
    main h1 {
        padding-left: 1em;
        padding-right: 1em;
    }
    .contact-info {
        padding: 1em 1.5em;
        font-size: 1.2rem;
    }
    .about-me {
        padding: 1rem 1.5rem;
    }

}

@media (max-width: 340px) {
    .icon-email {
        display: none;
    }

}