*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    background-color: #F2CF8D;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #F2B705;
    padding: 2em 1.5em;
    margin: 0 auto;
    max-width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo-container {
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    position: relative;
    /* background-image: url("./images/working-man.jpg"); */
}

.op-photo {
    max-width: 100%;
    /* object-fit: cover; */
}

.op-name {
    position: absolute;
    bottom: 0;

    font-size: 4rem;
    font-family: 'Playfair Display', serif;
}

.about-me {
    background-color: #F2CF8D;
    padding: 1rem 1.3rem;

    font-size: 1.3rem;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.icons {
    float: right;
}

main {
    background-color: #F2CF8D;
}

footer {
    background-color: #F2B705;
}